<div id="header" class="container">
  <h1>Anonymous Blog</h1>
  <p>Hello, world!</p>
  <form action="/post/new" method="get">
    <input class="button" type="submit" value="New Post">
  </form>
</div>
<% @posts.each do |post| %>
<div id="posts" class="container">
  <textarea class="entry">
  <%= post.entry %>
  </textarea>
  <p class="timestamp">Created at: <%= post.created_at %></p>
  <form action="/post/<%= post.id %>/edit" method="get">
    <input type="submit" value="Edit Post">
  </form>
</div>

<div id="tags" class="container">

  <ol>
    <li>Tag #1</li>
    <li>Tag #2</li>
    <li>Tag #3</li>
    <li>Tag #4</li>
    <li>Tag #5</li>
  </ol>
  <form action="/tag/new" method="post">
    <input type="hidden" value="<%= post.id %>">
    <input class="submit" type="text" placeholder="Enter new tag">
    <input class="button" type="submit" value="New Tag">
  </form>
</div>
<% end %>

<div id="footer" class="container">
  <p>&copy; 2013 BlurredBits</p>
</div>
